@import 'src/scss/vars';

.input {
  font-size: 13px;
  height: 32px;
  line-height: 21px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: $font-family;
  font-weight: 400;
  appearance: none;
  outline: none;
  border: none;
  color: $color-1;
  background-color: $bg-color-1;

  &:focus {
    box-shadow: $box-shadow-1;
  }

  &:hover {
    opacity: 0.75;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:read-only {
    cursor: default;
  }
}