@import 'src/scss/vars';

.container {
  margin: 5px 5px 11px;
  position: relative;
  box-shadow: $box-shadow-2;
  background-color: $bg-color-7;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.15s ease-out 0s;

  &:hover {
    box-shadow: $box-shadow-4;
    .time {
      border-bottom-color: $border-color-3;
    }
  }
}

.time {
  font-size: 14px;
  font-weight: bold;
  color: $color-4;
  height: 25px;
  line-height: 25px;
  padding-left: 6px;
  border-bottom: 2px solid $border-color-4;
  transition: box-bottom-color 0.15s ease-out 0s;
}

.message {
  padding: 5px 5px 10px 5px;
  text-indent: 7px;
}

.hidden {
  display: none;
}