$bg-color-1: rgb(242, 242, 242);
$bg-color-2: #F5F5F5;
$bg-color-3: hsla(0,0%,0%,0.35);
$bg-color-4: rgba(0,0,0,0.05);
$bg-color-5: hsl(0,0%,99%);
$bg-color-6: rgba(0, 0, 0, 0.25);
$bg-color-7: rgb(255, 255, 255);
$bg-color-8: rgb(233, 238, 249);
$bg-color-9: hsl(0,0%,88%);

$border-color-1: rgba(0,0,0,0.1);
$border-color-2: rgba(0,0,0,0);
$border-color-3: #BDBDBD;
$border-color-4: #E2E2E2;

$box-shadow-1: rgb(0 0 0 / 25%) 0px 0px 0px 2px inset;
$box-shadow-2: rgb(0 0 0 / 10%) 0px 0px 0px 2px;
$box-shadow-3: rgb(0 0 0 / 3%) 0 2px 0 0;
$box-shadow-4: 0 0 0 2px rgb(0 0 0 / 25%);

$color-1: rgb(51, 51, 51);
$color-2: rgb(117, 117, 117);
$color-3: #4d4d4d;
$color-4: rgb(77, 77, 77);
$color-5: rgb(153, 153, 153);

$font-family : -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;