$bg-color-1: rgb(242, 242, 242);

$border-color-1: rgba(0,0,0,0.1);

$box-shadow-1: rgb(0 0 0 / 25%) 0px 0px 0px 2px inset;
$box-shadow-2: rgb(0 0 0 / 10%) 0px 0px 0px 2px;

$color-1: rgb(51, 51, 51);
$color-2: rgb(117, 117, 117);
$color-3: #4d4d4d;

$font-family : -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;